<div class="wrap">
    <section class="page-container">
        <main class="content">
            <div>
                <div class="centered-signs">
                    <h2>
                        Комунальний заклад освіти<br>
                        Дніпровський науковий ліцей інформаційних технологій
                    </h2>
                </div>
                <div class="title-text">
                    <h2>Випускна робота на тему:</h2>
                    <h1>«Популяризація роману «Улісс» Джеймса Джойса»</h1>
                    <hr class="dashed-line-title" />
                    <div class="title-page-signs">
                        <p>
                            Виконавець: ліцеїст 11-В класу Дрововозов Сергій
                        </p>
                        <p>
                            Наукові керівники: Ткаченко С. А., Лавренюк І. В.  
                        </p>
                    </div>
                </div>
                <div class="centered-signs">
                    <h2>
                        Дніпро<br>
                        2024
                    </h2>
                </div>
            </div>
        </main>
    </section>
  </div>