<div class="wrap">
    <app-header [backgroundFile]="'episode-13-header.png'"></app-header>
    <section class="page-container">
      <main class="content">
        <section class="about-book">
          <h1>Підготовка до читання</h1>
          <hr class="solid-line" />
          <div class="article-section">
            <img
              src="assets/images/episode-13-location.png"
              [tooltipStyleClass]="'location3'"
              alt="Локація13"
              class="photo-align-left"
              pTooltip="Зараз пляж Сендімаунт є популярним місцем для прогулянок місцевих жителів. Коло нього також знаходиться меморіал Джеймсу Джойсу - невеличкий камінь заввишки 0,6 метри, на якому вирізьблено: “Стовп Сонця для Джеймса Джойса”."
              tooltipPosition="top"
            />
            <p>
                “Улісс” - безжалісна книга, ніколи не дає відпочити, а навіть здається, що-таки дає, це виявляється ілюзією. 13-ий епізод саме з таких, підступних - його зовнішня простота і зрозумілість оманлива, за нею <u>ховається черговий Джойсів підступ</u>, який я рекомендую вам відшукати самостійно.
            </p>
            <p>
                Що ж до часу і місця дії, то “Навсікая” бере початок приблизно о 8 вечора, а з урахуванням того, що “Циклопи” скінчилися близько о пів на шосту, стає зрозумілим, що в романі пропущено плюс-мінус 2 з половиною години <strong>Блумового</strong> дня - саме ті плюс-мінус 2 з половиною години, які він провів, допомагаючи сім'ї покійного <strong>Патрика Дігнема</strong> зі страхуванням. 
            </p>
            <p>
                Зараз же наш головний герой… На пляжі Сендімаунт, тому самому, що по ньому 10 епізодів тому, - як давно це було - ходив <strong>Стівен Дедал</strong>. Це не єдина цікава <strong>Блумо</strong>-<strong>Стівено</strong>-паралель в “Навсікаї”, а тому <u>раджу пильно придивлятися до тексту</u> - може, знайдете ще щось з цього приводу… Ну, тепер ви готові, нумо читати!
            </p>
          </div>
        </section>
        <hr class="solid-line" />
        <h1>Аналіз епізоду</h1>
        <section class="about-book">
          <hr class="dashed-line" />
          <h2>Сюжет</h2>
          <div class="article-section">
            <p>
                На початку епізоду спостерігаємо трьох дівчат, <strong>Сіссі Кефрі</strong>, <strong>Еді Бордмен</strong> та <strong>Герті Макдауелл</strong><sup
                [tooltipStyleClass]="'custom-tooltip'"
                pTooltip="Створюючи “Навсікаю” Джойс надихався епізодом з власної біографії: в 16 років він йшов пляжем, замислений... Тоді він переживав період духовної кризи: перед ним постав вибір між релігійно-аскетичним та матеріально-естетичним способами життя. І раптом він бачить дівчину, що, підібравши сукню, зайшла по гомілки до води: вони на хвилину зустрілись поглядами, і ця “зустріч” стала для Джойса уособленням як раз матеріально-естетичного способу життя, прийняття світу у всіх його проявах."
                tooltipPosition="bottom"><u>[1]</u></sup>, що гуляють з двома молодшими братами першої (близнюки, обом по 4 роки), та молодшим братом другої (немовля).
            </p>
            <img
              src="assets/images/KidsPlayingBall-photo.png"
              alt="Діти бавляться фото"
              class="photo-align"
              pTooltip="На фото: Томмі та Джекі грають в м'яча"
              tooltipPosition="top"
            />
            <p>
                І поки діти бавляться, <strong>Сіссі</strong> з <strong>Еді</strong> теревенять, а превелебний <strong>О'Генлон</strong> і отець <strong>Конрой</strong> співають молитви в невеличкій церкві неподалік, <strong>Герті</strong> мрійливо дивиться в бік загадкового джентльмена <em>"в глибокій жалобі"</em>. Як ви вже здогадалися, дивиться вона на <strong>Леопольда Блума</strong>. Це в них взаємно - він теж на неї дивиться, але крім того він в цей час… Скажімо, <u>pleasures himself</u><sup
                [tooltipStyleClass]="'custom-tooltip-left'"
                pTooltip="Як відомо, за підтримки поета Езри Паунда “Улісс” з 1918-го року почав друкуватися в журналі “Little Review” у серіальній формі, тобто по розділах. Тим не менш, після публікації “Навсікаї” Нью-йоркська спільнота з викорінення пороку звинуватила роман у порнографії і добилася впровадження штрафів за його друк. До цього моменту, встигли опублікувати 14 епізодів."
                tooltipPosition="bottom"><u>[2]</u></sup>. Якщо ви теж з першого разу не помітили цього за демонстративно пристойною лексикою епізоду, то зараз я все вам покажу на цитатах.
            </p>
            <p>
                Перший натяк на <strong>Блумове</strong> "заняття" з'являється, коли він, бачачи <strong>Сіссі Кефрі</strong>, що до нього наближається, витягує руку з кишені (чому вона там була?):
            </p>
            <div class="blockquote">
            <em class="bi bi-quote"></em>
                <blockquote>
                  <p>
                    І вона подалася до джентльмена, а коли він побачив, що Сіссі до нього прямує, Герті зауважила, як він вийняв руку з кишені, знервувався і почав гратися годинниковим ланцюжком, поглядаючи на церкву.
                  </p>
                </blockquote>
            </div>
            <p>
                Другий, вже коли <strong>Блум</strong> і <strong>Герті</strong> залишилися віч на віч, поки всі інші дивилися на феєрверки. Дівчина, розуміючи, чим головний герой в цей час зайнятий, почала позувати для нього, а також згадала аналогічний випадок, про який їй розповідала подруга:
            </p>
            <div class="blockquote">
                <em class="bi bi-quote"></em>
                <blockquote>
                  <p>
                    [...] про джентльмена, який жив у них на квартирі й працював у Комісії для поліпшення житлових умов, і який витинав з паперу фігурки танцюристок, що метляють спідницями, і тих, що задирають ноги, і вона сказала, що часом він робив у ліжку не дуже пристойні речі, які навіть уявити важко.
                  </p>
                </blockquote>
            </div>
            <p>
                Свого апогею весь цей процес досягає, коли <strong>Блумові</strong> стало видно спідню білизну <strong>Герті</strong>:
            </p>
            <div class="blockquote">
                <em class="bi bi-quote"></em>
                <blockquote>
                  <p>
                    [...] і йому видно було також інші одіння, нансукові панталони [...]
                  </p>
                </blockquote>
            </div>
            <p>
                Ну і наостанок, коли <strong>Герті</strong> з подругами вже час йти, авторський коментар щодо дій головного героя розставляє все на свої місця:
            </p>
            <div class="blockquote">
                <em class="bi bi-quote"></em>
                <blockquote>
                  <p>
                    Яка він тварюка! Знову за своє? Його покликала світла чиста душа, а він, поганець, як їй відповів? Він повівся, як останній мерзотник [...] <br>
                    Він помилявся і грішив, і впадав у облуду.
                  </p>
                </blockquote>
            </div>
            <p>
                Залишившись один, <strong>Блум</strong> задумливо дивиться в далечінь, після чого вирішує трохи подрімати, чим і закінчується розділ.
            </p>
            <p>
                Але поміж всього цього важливо не загубити деякі прояви фірмової джойсівської драматургії. Перший з них, це, звичайно, той факт, що <strong>Блум</strong> забув забрати лосьйон з аптеки… Здавалося б, ну і що з того, але коли через кількасот сторінок після останнього згадування ми знов на нього натикаємось це викликає дивовижний ефект - ще один <strong>приклад славнозвісної "емансипації сюжету"</strong>.
            </p>
            <p>
                Далі, в 13-ому епізоді продовжується <u>насичення тексту "співпадіннями"</u>. По-перше, годинник <strong>Блума</strong> загадковим чином зупинився о пів на п'яту, саме в той час, коли <strong>Бойлан</strong> приїздив до <strong>Моллі</strong>... Що ж, символічно. По-друге, як раз в контексті думок про зраду дружини з її імпресаріо, головний герой думає:
            </p>
            <div class="blockquote">
                <em class="bi bi-quote"></em>
                <blockquote>
                  <p>
                    Йому дістаються сливи, а мені кісточки.
                  </p>
                </blockquote>
            </div>
            <p>
                Дивним чином це нагадує <strong>Стівенову</strong> "Притчу про сливи", зміст якої, я нагадую, <strong>Блум</strong> не чув. Та коли ці двоє вже зустрінуться?!
            </p>
          </div>
        </section>
        <hr class="dashed-line" />
        <section class="about-book">
          <h2>Герої</h2>
          <div class="article-section">
            <div class="blockquote">
                <em class="bi bi-quote"></em>
                <blockquote>
                  <p>
                    Та хто ж така була Герті?
                  </p>
                </blockquote>
            </div>
            <img
              src="assets/images/Herty-photo.png"
              alt="Герті фото"
              class="photo-align-left"
              pTooltip="На фото: Герті Макдауелл (ви теж не розумієте, чому в екранізації вона виглядає на 10 років доросліше, ніж у книжці?)"
              tooltipPosition="top"
            />
            <p>
                Ну, по-перше, вірогідно, <u>дочка <strong>Громадянина</strong></u>. Натяк на це в таких її думках:
            </p>
            <div class="blockquote">
                <em class="bi bi-quote"></em>
                <blockquote>
                  <p>
                    [...] вони матимуть прегарно мебльовану вітальню з картинами й гравюрами і фотографією чудового собаки Герріоуена, який належав її дідусеві Гілтрепу [...]
                  </p>
                </blockquote>
            </div>
            <p>
                Тут згадується пес Герріоуен, що супроводжував <strong>Громадянина</strong> у "Циклопах", а також приналежність цього самого Герріоуена до дідуся <strong>Герті</strong> - <strong>Гілтрепа</strong>. У попередньому епізоді оповідачем це теж згадувалось:
            </p>
            <div class="blockquote">
                <em class="bi bi-quote"></em>
                <blockquote>
                  <p>
                    Швендяє по місту з одного шинку до іншого з цим собацюрою старого Гілтрепа [...]
                  </p>
                </blockquote>
            </div>
            <p>
                За умови, якщо гіпотеза про батьківство <strong>Громадянина</strong> вірна, не дивно, чому <strong>Герті</strong> згадує <u>алкоголізм батька</u>:
            </p>
            <div class="blockquote">
                <em class="bi bi-quote"></em>
                <blockquote>
                  <p>
                    Аби її батько уникнув був пазурів демона пияцтва [...]
                  </p>
                </blockquote>
            </div>
            <p>
                Крім того, вона згадує також <u>домашнє насильство з його боку</u>:
            </p>
            <div class="blockquote">
                <em class="bi bi-quote"></em>
                <blockquote>
                  <p>
                    Гай-гай, їй довелося навіть у домашньому колі бути свідком насильств, викликаних непомірністю, і бачити, як її батько під впливом хмельних випарів цілковито втрачав тяму, бо найганебніший з усіх лихих учинків про які Герті чувала це той, коли чоловік піднімає руку на жінку [...]
                  </p>
                </blockquote>
            </div>
            <p>
                Словом, батька <strong>Герті</strong> страшенно не вистачає, а тому вона <u>шукає його у своїх романтичних партнерах</u>, зокрема у <strong>Блумові</strong><sup
                [tooltipStyleClass]="'custom-tooltip-left'"
                pTooltip="Це досить психоаналітичне трактування, хоч сам Джойс про психоаналітиків Зигмунда Фройда та Карла Юнга був ненайкращої думки і говорив так: “Група людей у Цюріху переконала себе, що я поступово божеволію, і фактично намагалася спонукати мене потрапити в санаторій, де якийсь доктор Юнг (швейцарський Твідледум, який не плутати з віденським Твідлді, доктором Фройдом) розважається коштом (у всіх сенсах цього слова) леді та джентльменів, яких турбують бджоли в капелюшках”."
                tooltipPosition="bottom"><u>[3]</u></sup>:
            </p>
            <div class="blockquote">
                <em class="bi bi-quote"></em>
                <blockquote>
                  <p>
                    Її ідеал не чарівний принц, що складе їй до ніг незвичайне чудове кохання, а скорше мужній чоловік з вольовим спокійним лицем, який не знайшов свого ідеалу, може, волосся його злегка посріблене сивиною, і який її зрозуміє, візьме в свої дужі руки, пригорне з усією силою глибоко пристрасної вдачі й заспокоїть довгим-довгим поцілунком.
                  </p>
                </blockquote>
            </div>
            <p>
                З цього всього робимо висновок, що <strong>Герті</strong> - дитина травмована, <u>дитина з комплексом неповноцінності</u>. Вона постійно намагається комусь сподобатися, її власні бажання ототожнюються з тим, як "прийнято": її <em>"разючий вираз очей, котрий так личив найпершим чепурухам"</em> зроблений за допомогою бровеліну; її нігти обрізані, <em>"четвер-бо — день багатства"</em>; її блузка кольору електрик, <em>"бо в "Ледіз пікторіел" висловлювалася гадка, що електрик увійде в моду"</em>; вона шаріється, коли чує слово <em>"задочок"</em>, бо ж то <em>"негоже для жінки слово"</em>... В кінці кінців, для <strong>Блума</strong> вона позує теж, щоб сподобатися йому…
            </p>
            <p>
                Тобто розумієте, <u><strong>Герті</strong> майже цілком складається з чиїхось нав'язаних думок</u>, бо в своїх вона, як наслідок низької самооцінки, не впевнена. 
            </p>
            <p>
                Звідси випливає її <u>надмірна романтизація інших людей</u>, зокрема <strong>Леопольда Блума</strong>, погляд якого на неї вона характеризує так:
            </p>
            <div class="blockquote">
                <em class="bi bi-quote"></em>
                <blockquote>
                  <p>
                    Його очі пропікали її наскрізь, наче обшукували геть усю, читаючи навіть те, що в душі таїлося.
                  </p>
                </blockquote>
            </div>
            <p>
                Беручи до уваги, чим він в цей час зайнятий, здається мені, що <em>"його очі пропікали її наскрізь"</em> тільки в буквальному розумінні… Що ж, в цьому весь <strong>Блум</strong> - тілесний і матеріальний.
            </p>
            <p>
                До речі про нього, слід зауважити: його сьогоднішня мастурбація також свідчить про те, що після смерті Руді він не став імпотентом - <strong>Блум</strong> цілком здоровий фізично, однак <u>нормальним статевим відносинам між ним та <strong>Моллі</strong> заважає психологічна травма</u> у обох з них.
            </p>
            <p>
                Зокрема через неї <strong>Блум</strong> все ще не збирається йти додому:
            </p>
            <div class="blockquote">
                <em class="bi bi-quote"></em>
                <blockquote>
                  <p>
                    Податися додому. Запізно йти на "Лію, лілею Кіларні". Ні. Може, ще не спить. Зайти в лікарню подивитися.
                  </p>
                </blockquote>
            </div>
            <p>
                Ех, <strong>Блум</strong>-<strong>Блум</strong>...
            </p>
          </div>
        </section>
        <hr class="dashed-line" />
        <section class="about-book">
          <h2>Міфологічний підтекст</h2>
          <div class="article-section">
            <img
              src="assets/images/Nausicaa-photo.png"
              alt="Навсікая фото"
              class="photo-align"
              pTooltip="На фото: Одіссей та Навсікая"
              tooltipPosition="top"
            />
            <p>
                У відповідній частині “Одіссеї” головного героя античного епосу, потерпілого корабельної аварії, <u>прибиває хвилями до берегу феакійського острова Схерії</u>. Поки він лежить непритомний на піску, обліплений морськими мушлями, <u>на пляж приїздить Навсікая</u>, дочка феакійського короля Алкіноя, щоб разом зі служницями попрати речі.
            </p>
            <p>
                Впоравшись з цим, дівчата вирішують перекусити, а після цього трохи <u>пограти в м’яча</u>. Однак під час гри м’яча занесло до моря, внаслідок чого дівчата здійняли галас і Одіссей закономірно прокинувся. Прикривши листям пах (а на берег героя прибило без одежі), він вийшов до них: всі, крім Навсікаї, злякалися його й розбіглися. Він розповів їй свою історію, на що вона вирішила-таки допомогти йому, надала одяг і відвезла до палацу.
            </p>
            <p>
                Повертаючись до джойсівського тексту, очевидною є <u>буквальна паралель</u>: місце дії - пляж; гра в м'яча, хоч і спостерігається радше з боку маленьких братів <strong>Сіссі</strong>, але, тим не менш, присутня в 13-ому епізоді "Улісса", ба більше, вона стає причиною пробудження, якщо не самого <strong>Леопольда Блума</strong>, то його сексуального бажання - точно (йдеться про момент, коли хлопці ненароком зажбурнули м'яча неподалік від головного героя, і він, кидаючи м'яча <strong>Сіссі</strong>, не влучає, і м'яч натомість потрапляє до ніг <strong>Герті</strong>, чия взаємодія з ним "завела" <strong>Блума</strong>); відповідність <strong>Герті</strong> Навсікаї, думаю, теж зрозуміла.
            </p>
            <p>
                Однак цікаво те, що з цієї точки зору, допомозі Навсікаї Одіссею відповідає… Стимуляція <strong>Герті</strong> “чоловічої енергії” <strong>Блума</strong>? Як би іронічно і кумедно це не було, це також є і демонстрацією занепаду цінностей тогочасного суспільства, причому абсолютно серйозною. А про те, як і чому <u>іронічне з серйозне співіснують в “Уліссі”</u> читайте далі у “Проблематиці”.
            </p>
          </div>
        </section>
        <hr class="dashed-line" />
        <section class="about-book">
          <h2>Проблематика</h2>
          <div class="article-section">
            <p>
                В цьому епізоді як ніколи наочно виявляється одна риса Джойсового письма, а вірніше сказати навіть його життєве кредо, <u>яке він сам називав словом “жартоповажність”</u><sup
                [tooltipStyleClass]="'custom-tooltip-left'"
                pTooltip="Англ. “jocoserious”"
                tooltipPosition="bottom"><u>[4]</u></sup>. Але хіба є в цьому якийсь Джойсів здобуток? Хіба не кожен другий автор імплікує комічні елементи у свої серйозні твори? Так, правильно, кожен другий, однак це не означає, що Джойс робить теж саме.
            </p>
            <p>
                Дивіться, зазвичай в літературі до Джойса гумор або чергувався з більш серйозними пасажами, розряджаючи обстановку, або використовувався для висміювання якихось явищ. Однак наш ірландський дурньо-геній<sup
                [tooltipStyleClass]="'custom-tooltip-left'"
                pTooltip="Дружина Джеймса Джойса колись сказала про нього: “Не знаю, чи мій чоловік геній, чи ні, але в нього точно розум в нього точно незвичайний.”"
                tooltipPosition="bottom"><u>[5]</u></sup>, зокрема у “Навсікаї”, “висміює якісь явища” в межах “більш серйозних пасажів”, тобто один і той же фрагмент тексту є одночасно і “жарто-”, і “поважним” - таким чином, відділити одне від одного вже майже неможливо. 
            </p>
            <p>
                Це ілюструється не тільки міфологічним підтекстом, але й образом <strong>Герті Макдауелл</strong>, причому навіть у більшій мірі: з одного боку, вона - фігура карикатурна, що складається з віянь модних журналів та народних повір’їв та гіперромантизації всього на світі, а тому варта висміювання; з іншого боку, це світ її такою зробив, зокрема батько, крім того у неї багато хатньої роботи, вона закомплексована й невпевнена в собі, травмована дитина.
            </p>
            <p>
                <u>Але між цими “боками” не треба обирати</u>. Саме тому на питання <em>“Та хто ж така була Герті?”</em> можна сміливо відповідати: <em>“Герті. Є. Не поміститься. Цур йому.” </em>Пам’ятаєте, <strong>Блум</strong> писав аналогічний текст палицею на піску? Він хотів написати якесь повідомлення для <strong>Герті</strong>, якщо вона зранку знов прийде на пляж, однак символічним є те, що дописати його він не зміг - так само й будь-яку особистість не можна звести до якогось єдиного набору універсалів, що б цілком її описували. <em>“Читачу, о лицемірний мій, на мене схожий, брате”</em>, як скахав би Шарль Бодлер, можеш спробувати зробити це в контексті себе, але зуб тобі даю, не вийде! Ну хто ти: людина, чоловік, жінка, студент, поціновувач літератури?.. Та всіх слів світу не вистачить, щоб повністю описати тебе єдиного!
            </p>
            <img
              src="assets/images/WeddingDream-photo.png"
              alt="Весільні мрії фото"
              class="photo-align-left"
              pTooltip="На фото: мрії Герті про весілля з Блумом"
              tooltipPosition="top"
            />
            <p>
                А тому Джойс укотре <u>наголошує на розширенні кругозору та багатогранності світосприйняття</u>. В минулому епізоді він спрямовував нашу увагу на “циклопів”, що не знають інших думок окрім своїх та ненавидять всіх незгодних; в даному ж розділі письменник йде ще далі, і якщо тоді він ототожнював проанглійських і проірландських за політичними поглядами містян через їх спільну ненависть до деякого “ворога”, то зараз він ототожнює обмежених людей, чия обмеженість спричинена ненавистю (“циклопи”), і обмежених людей, чия обмеженість спричинена любов’ю (<strong>Герті</strong>). 
            </p>
            <p>
                І правда, певна закоханість з боку <strong>Герті</strong> в <strong>Блума</strong> впливає на її сприйняття, і ось збудження нею тваринних інстинктів головного героя перетворюється на:
            </p>
            <div class="blockquote">
                <em class="bi bi-quote"></em>
                <blockquote>
                  <p>
                    Жіночий інстинкт підказав їй, що вона знуртувала йому душу, і при тій думці вона зайшлася ясним рум’янцем від шиї до лоба, так що личенько її стало, як троянда красна.
                  </p>
                </blockquote>
            </div>
            <p>
                Вона бачить, чим <strong>Блум</strong> займається, однак через свою упередженість не бачить в цьому нічого поганого, від чого і застерігає нас автор.
            </p>
          </div>
        </section>
        <hr class="dashed-line" />
        <section class="about-book">
          <h2>Стиль</h2>
          <div class="article-section">
            <p>
                "Навсікая" помітно контрастує зі всіма попередніми епізодами, в першу чергу, за рахунок своєї простоти - певною мірою, це взагалі <u>найлегший для читання розділ "Улісса"</u>. Це обумовлено не тільки порівняною прозорістю мови, якою він написаний, але і його яскраво вираженим сентиментальним настроєм, щоб пройнятися яким не треба жодних зусиль - текст сам маніпулює читацькими почуттями.
            </p>
            <p>
                Словом, все це зроблено для того, щоб читач відчув себе комфортно та розслабився, і не помітив головної ознаки, за якою 13-ий епізод контрастує з попередніми - його <u>об’єктивно поганої якості написання</u>. Справа в тому, що "Навсікая" навмисне була написана в кращих традиціях ненайкращої літератури, а конкретно другосортних жіночих романів<sup
                [tooltipStyleClass]="'custom-tooltip-left'"
                pTooltip="Сам Джойс в одному з листів охарактеризував цей стиль так: “Манерно-джемово-мармеладний, панталонний, з додаванням пахощів, молитв Пречистій, мастурбації, варених молюсків, палітри художника, дівочих пліток, їх патякання і т.д. і т.п.”."
                tooltipPosition="bottom"><u>[6]</u></sup>. Це виявляється у надмірному <span style="color: rgb(0, 162, 255)">вживанні пафосу</span>:
            </p>
            <div class="blockquote">
                <em class="bi bi-quote"></em>
                <blockquote>
                  <p>
                    Навряд чи він здогадувався про її переживання, про ту <span style="color: rgb(0, 162, 255)">порожнечу в серці</span>, яку, часом, заповнював глухий біль, що <span style="color: rgb(0, 162, 255)">сягав глибини душі</span> [...] <br>
                    Але вона мала щире серце, хоробрішого й правдивішого <span style="color: rgb(0, 162, 255)">ще не створило небо</span>, і не схожа була на двоєдушних ошуканок, солоденьких до нудоти.
                  </p>
                </blockquote>
            </div>
            <p>
                Використанні <span style="color: #e6742d">клішованих сталих виразів</span>:
            </p>
            <div class="blockquote">
                <em class="bi bi-quote"></em>
                <blockquote>
                  <p>
                    Звичайно, дівчата теж час од часу між собою потроху сваряться, <span style="color: #e6742d">як і всі смертні</span> [...] <br>
                    <span style="color: #e6742d">Яблуком розбрату</span> став піщаний замок, який мастер Джекі збудував, і архітектуру якого мастер Томмі вважав за потрібне поліпшити, додавши портал, схожий на той, що у вежі Мартелло.
                  </p>
                </blockquote>
            </div>
            <p>
                Ну і інверсії головного правила написання небанальних текстів: <em>“показувати, а не <span style="color: #00a023">розказувати</span>”</em>.
            </p>
            <div class="blockquote">
                <em class="bi bi-quote"></em>
                <blockquote>
                  <p>
                    <span style="color: #00a023">Щиросердішої за неї дівчини ще зроду-віку на світі не було</span>, її циганські очі завжди сяють усмішкою, а з червоних, як спілі вишні, уст готове зірватися пустотливе слівце, сама ж миленька, мов ясочка [...] <br>
                    <span style="color: #00a023">Сіссі була неперевершений мастак загладжувати сліди маленьких життєвих незлагод</span>, і невдовзі на його гарненькому костюмчику не залишилося жодної піщинки.
                  </p>
                </blockquote>
            </div>
            <p>
                Тобто, розумієте, замість того, щоб показати, яка <strong>Герті</strong> <em> “щиросердна”</em> на прикладі якогось її вчинку, він… Просто дає їй характеристику! 
            </p>
            <p>
                Для порівняння згадайте такий фрагмент “Лестригонів”:
            </p>
            <div class="blockquote">
                <em class="bi bi-quote"></em>
                <blockquote>
                  <p>
                    Містер Блум нерішуче підніс два пальці до губів. Очі йому підказали: <br>
                    — <span style="color: #e735a6">Не тут. Ти його не бачиш.</span> <br>
                    Гайда звідси. Тут бридота, як у свинарні.
                  </p>
                </blockquote>
            </div>
            <p>
                Пам’ятаєте, перед тим, як пообідати у <strong>Деві Бернса</strong>, <strong>Блум</strong> заходив до їдальні <strong>Бертона</strong> - атмосфера в закладі йому не сподобалася від слова зовсім, а тому він вирішив піти звідти. Однак наш друзяка <strong>Блум</strong>, щира душа, не міг просто піти - він не хотів нікого образити своєю поведінкою, а тому <span style="color: #e735a6">зробив вигляд, ніби когось шукав серед відвідувачів, проте, нажаль, не знайшов</span>, і з цієї причини був вимушений покинути приміщення. 
            </p>
            <p>
                Тобто, здавалося б, <span style="color: #e735a6">така дрібниця</span>, але скільки вона говорить про головного героя, як чітко й точно вона його описує, якого вона надає йому об’єму… Чого не скажеш про <span style="color: #00a023">банальне перелічування рис характеру <strong>Герті</strong></span>, що ще раз підкреслює різницю між художнім інструментарієм попередніх епізодів та інструментарієм нинішнього. 
            </p>
            <p>
                За рахунок цього оновлення творчого арсенала письменника в 13-ому епізоді змін зазнає і техніка потоку свідомості: якщо <strong>Стівенів</strong> або <strong>Блумів</strong> внутрішні монологи зображуються зсередини, тобто Джойс як би <span style="color: #e735a6">"показує"</span> нам їх думки як вони виникали у героїв насправді, то про внутрішній монолог <strong>Герті</strong> навпаки - його автор нам як би <span style="color: #00a023">"переказує"</span>, лише висвітлюючи теми її думок, однак не самі думки.
            </p>
            <p>
                Словом, все це нарочите погіршення якості написання тексту виконує декілька важливих функцій.
            </p>
            <p>
                По-перше, тут, як завжди, <u>працює міметичний стиль</u>: карикатурна свідомість <strong>Герті Макдауелл</strong> описується, відповідно, карикатурною мовою.
            </p>
            <p>
                По-друге, це такий собі <u>творчий маніфест Джойса</u>: в “Навсікаї” письменник постійно розказує, а не показує, таким чином, як це не парадоксально, показуючи безглуздість подібного підходу. Ба більше, остання треть розділу - вже для нас звичний, очевидно майстерно сконструйований потік свідомості <strong>Блума</strong>, який своїм прикладом показує аутсайдерство незграбного потоку свідомості <strong>Герті</strong>, що, беззаперечно, <u>є втіленням формальної драматургії</u>.
            </p>
            <p>
                По-третє, “Навсікая” - це <u>виклик нашому літературному смаку</u>: чи зможемо ми відрізнити хорошу прозу від поганої? Це така собі гра, яку Джеймс Джойстик без нашого відома для нас підготував, більш того, як вже зазначалося раніше, цей поганець ще й створив всі умови для того, щоб ми йому програли, зробивши епізод максимально привабливим зовнішньо. Тим не менш, якщо ми все ж помічаємо певний підвох і усвідомлюємо, що ну не міг автор попередніх 12-и епізодів неіронічно написати 13-ий, то починаємо бачити всю ту концентрацію кліше, якими Джойс так скрупульозно насичував текст, та розуміти, в чому ж тут гумор. Але гумор цей, що цікаво, майже неможливо зрозуміти без контексту - письменник дійсно майстерно спародіював дилетантський стиль, а тому відрізнити від банальної безталанності досить важко. Звідси цікавий висновок: Джойс написав сам по собі поганий епізод, котрий, як це не парадоксально х2, будучи поміщений в контекст “Улісса” стає… Хорошим?
            </p>
            <p>
                Це все, друзі мої, <u>відмінний взірець постмодернізму</u>... За декілька десятиліть до того, як цей напрям остаточно сформувався - як то кажуть, <em>“постмодернізм до того, як це стало мейнстрімом”</em>. Я думаю, ви помітили, що “Улісс” - це <u>процес постійного переходу</u> від чогось до чогось: від однієї <em>“неодмінної модальності”</em> до іншої, від одного стилю до іншого… Ось тепер від одного мистецького напряму до іншого: від модернізму до постмодернізму. Що ж, буває!
            </p>
          </div>
        </section>
      </main>
      <app-footer></app-footer>
    </section>
  </div>
