<div class="wrap">
    <app-header [backgroundFile]="'episode-10-header.png'"></app-header>
    <section class="page-container">
      <main class="content">
        <section class="about-book">
          <h1>Підготовка до читання</h1>
          <hr class="solid-line" />
          <div class="article-section">
            <p>
                Об'являти місце дії цього епізоду немає сенсу і, прочитавши, ви зрозумієте, чому. Час дії однак досить конкретний - початок четвертої. 
            </p>
            <p>
                10-ий розділ, відповідно до назви, містить багато "мандрівних скель" - <u>навмисно розставлених автором пасток</u>, на які ми, читачі, можемо попастися. Саме тому, раджу бути завжди уважними і не вестися на оманливу простоту епізоду.
            </p>
            <p>
                Але "Мандрівні скелі" - це ще й прекрасна можливість провести <u>паралелі між персонажами роману</u>, причому, не тільки між <strong>Стівеном</strong> та <strong>Блумом</strong>, як до цього, а й між багатьма іншими. Саме тому нумо читати, пильнувати, порівнювати !
            </p>
          </div>
          <hr class="solid-line" />
        </section>
        <h1>Аналіз епізоду</h1>
        <section class="about-book">
          <hr class="dashed-line" />
          <h2>Сюжет</h2>
          <div class="article-section">
            <img
            src="assets/images/BloomBook-photo.png"
            alt="Блум книжка фото"
            class="photo-align-left"
            pTooltip="На фото: Блум купує книжку для Моллі"
            tooltipPosition="top"
          />
            <p>
                <u>Події епізоду відбуваються синхронно</u>: отець <strong>Конмі</strong> йде влаштовувати <strong>Падді Дігнема</strong> молодшого (сина <strong>Падді Дігнема</strong> старшого, на чиїх похоронах ми були в "Аїді") до церковної школи Артейн, поки одноногий матрос ходить вулицями і простягає перехожим картуза, просячи милостині; в домі <strong>Дедалів</strong> дівчата <strong>Кейті</strong>, <strong>Буді</strong> та <strong>Меггі</strong> дивуються, що в них в домі є їжа, поки <strong>Блейзес Бойлан</strong><sup
                [tooltipStyleClass]="'custom-tooltip'"
                pTooltip="З цього епізоду (а, якщо точніше, з 8-го, однак там воно фігурувало лише два рази, а тому звертаю на це увагу тільки зараз) українські перекладачі почали називати Блейзеса Бойлана “містером О'Кропом О'Шпаром”, що є набагато більш цікавим перекладацьким рішенням, ніж банальна транслітерація англійського імені, але ж... Хіба не можна було з самого початку так?.. У будь-якому випадку, в межах цього проєкту звучатиме тільки ім'я “Блейзес Бойлан”, для зручності."
                tooltipPosition="bottom"
                ><u>[1]</u></sup
              > купляє фрукти для <strong>Моллі Блум</strong>; <strong>Нед Лемберт</strong> показує палати абатства Святої Марії превелебному <strong>Г'ю С. Лаву</strong> в компанії <strong>Дж. Дж. О'Моллоя</strong> (хто? кого?), поки <strong>МакКой</strong> з <strong>Ленеханом</strong> пліткують про <strong>Блума</strong>; <strong>Блум</strong> купляє для дружини книжку на розпродажі, поки <strong>Діллі Дедал</strong> продає свої речі, щоб заробити на їжу; <strong>Стівен Дедал</strong> розмовляє з сестрою, поки <strong>Саймон Дедал</strong> - з <strong>отцем Каулі</strong> і <strong>Беном Доллардом</strong>; <strong>Гейнс</strong> із <strong>Мулліганом</strong> п'ють каву, поки <strong>Кешел Бойл О’Коннор Фіцморіс Тисделл Фарелл</strong> зіштовхується з сліпим юнаком; кавалькада віце-короля їде Нижньою Маунт-стрит, поки чолов'яга у коричневому макінтоші, немов той чорний кіт, перебігає їй дорогу… Словом, це все (і не тільки) відбувається синхронно.
            </p>
          </div>
        </section>
        <hr class="dashed-line" />
        <section class="about-book">
          <h2>Герої</h2>
          <div class="article-section">
            <p>В цьому епізоді нарешті стають зрозумілими <u>причини відчуженісті <span style="color: #3e7ad4"><strong>Стівена</strong></span> від <span style="color: #009420">батька</span></u> - ну і кепська з нього людина! Зазначимо, його дітям буквально нема чого їсти:</p>
            <div class="blockquote">
              <em class="bi bi-quote"></em>
              <blockquote>
                <p>
                  — Отуди к бісу, то, виявляється, що їсти у нас нема чого?
                </p>
              </blockquote>
            </div>
            <p>
              І, підійшовши до своєї дочки <strong>Діллі</strong>, котра продає речі, щоб хоч якось заробити на життя, <span style="color: #009420">він бреше їй, що в нього немає грошей</span>, хоч потім дівчина виводить його на чисту воду. Це супроводжується <span style="color: #009420">лайливими репліками батька до доньки</span>:
            </p>
            <div class="blockquote">
              <em class="bi bi-quote"></em>
              <blockquote>
                <p>
                  — Постривай-но, — погрозливо застеріг містер Дедал. — Ти теж заодно з усім цим вашим гуртом, га? Відколи померла ваша бідолашна мати, ви стали наче кодло лютих цуценят. Та постривайте-но. Я з вами скоро поквитаюся.
                </p>
              </blockquote>
            </div>
            <p>
              І навіть це ще не все: з тих грошей, що в нього є, <span style="color: #009420">він віддає їй всього лише шилінг і пару пенсів</span>, а всі останні… А, куди він витратив всі останні ми дізнаємося вже в наступному розділі :)
            </p>
            <img
            src="assets/images/StephenDilly-photo.png"
            alt="Стівен Діллі фото"
            class="photo-align"
            pTooltip="На фото: Стівен та Діллі Дедали"
            tooltipPosition="top"
            />
            <p>
              Що ж стосується <strong>Стівена</strong>, то в нього все в точності навпаки: він теж у "Мандрівних скелях" зустрічався з <strong>Діллі</strong> - вона показувала йому свій посібник з французької, питала, чи годиться він для вивчення мови. <span style="color: #3e7ad4">Він підтримує сестру в її починаннях</span>, хоч і розуміє, скоріше вся сім'я помре з голоду, ніж вона вивчить мову. 
            </p>
            <div class="parody10" [tooltipStyleClass]="'parody-tip'"
            pTooltip="Це - пародійна вставка, стилізована під техніку кіномонтажу, використовану Джойсом у 10-ому епізоді. Маю надію, це вас трішки розважить :)"
            tooltipPosition="bottom">
              <em class="image"><img src="assets/icon/camera-episode10.svg"></em>
              <blockquote>
                <p>
                  Словом, це все (і не тільки) відбувається синхронно.
                </p>
              </blockquote>
            </div>
            <p>
              Однак, стривайте. Ми знаємо, що <span style="color: #3e7ad4"><strong>Стівен</strong> сьогодні отримав зарплатню</span>, а це на секундочку 4 фунти! І навіть з урахуванням витрат на алкоголь, - пам'ятаєте, він сьогодні пив з газетярами - чи не міг він дати голодній сестрі грошей? Я прихильник думки, що <span style="color: #3e7ad4">він просто забув про них</span>, а не свідомо не дав. Про це свідчить те, що думок про сьогоднішню зарплатню в його голові не виникає, в той час, як думок про співчуття <strong>Діллі</strong> - хоч відбавляй:
            </p>
            <div class="blockquote">
              <em class="bi bi-quote"></em>
              <blockquote>
                <p>
                  Вона потопає. Докори. Врятувати її. Докори. Все проти нас.
                </p>
              </blockquote>
            </div>
            <p>
              Ще одне протиставлення епізоду: <u>протиставлення <span style="color: #e6742d"><strong>Бойлана</strong></span> та <span style="color: #e735a6"><strong>Блума</strong></span></u>. Зверніть увагу, як самозакохано перший купляє фрукти для дружини другого: він <span style="color: #e6742d">красується перед продавчинею</span>, демонстративно каже <em>"це для хворого"</em>, при тому, не дивлячись на те, що в нього сьогодні побачення з іншою, <em>"зазирає у викот блузки її"</em>... Словом, <span style="color: #e6742d">хвилюють його тільки власні бажання та потреби</span>.
            </p>
            <div class="parody10" [tooltipStyleClass]="'parody-tip'"
            pTooltip="Це - пародійна вставка, стилізована під техніку кіномонтажу, використовану Джойсом у 10-ому епізоді. Маю надію, це вас трішки розважить :)"
            tooltipPosition="bottom">
              <em class="image"><img src="assets/icon/camera-episode10.svg"></em>
              <blockquote>
                <p>
                  Тим часом Джойс навмисно спантеличує нас, щоб нам здалося, ніби думки міс <strong>Данн</strong> стосуються <strong>Меріон Блум</strong> і <strong>Блейзеса Бойлана</strong>.
                </p>
              </blockquote>
            </div>
            <p>
              З іншого боку, <strong>Леопольд Блум</strong>, який <span style="color: #e735a6">дбайливо обирає для дружини книжку</span>, постійно думаючи, що б їй сподобалося більше:
            </p>
            <div class="blockquote">
              <em class="bi bi-quote"></em>
              <blockquote>
                <p>
                  Ні, їй таке не дуже до вподоби. Їй колись уже приносив [...] <br>
                  Так. Це воно. Осьде. Спробую ще.
                </p>
              </blockquote>
            </div>
            <p>
              Однак не однією цією сценкою виражається турботливість головного героя про близьких людей. Він взагалі-то, на відміну від всіх інших відвідувачів сьогоднішніх похорон (винятком слугує хіба що <strong>Мартін Каннінгем</strong>, що домовився з отцем <strong>Конмі</strong> про влаштування <strong>Падді Дігнема</strong> молодшого до католицької школи за містом), <span style="color: #e735a6">пожертвував 5 шилінгів сім'ї <strong>Дігнемів</strong></span>. Таким чином він знов стоїть осторонь, знов <em>"Леопольдо, або Блум на глум"</em>.
            </p>
          </div>
        </section>
        <hr class="dashed-line" />
        <section class="about-book">
          <h2>Міфологічний підтекст</h2>
          <div class="article-section">
            <img
            src="assets/images/WanderingRocks-photo.png"
            alt="Мандрівні скелі фото"
            class="photo-align-left"
            pTooltip="На фото: Сцілла, Харибда та Мандрівні скелі"
            tooltipPosition="top"
            />
            <p>
              <u>Гомерівський пласт роману тут взагалі майже не гомерівський</u> - в Одіссея не було пригод, пов'язаних з мандрівними скелями. Про них в античній поемі згадувала хіба що Цирцея, коли окреслювала головному героєві можливі варіанти його подальшого шляху: або через Сціллу чи Харибду, або через мандрівні скелі. Тим не менш, Одіссей очевидно обрав перший варіант, а тому міфологічний підтекст знову використовується радше у вигляді метафори: <u>мандрівні скелі - лабіринт</u>, який Джойс для нас побудував у цьому тексті. 
            </p>
            <p>
              Це відображається, по-перше, <u>у сюжетних лініях героїв</u>, які постійно перетинаються, "зіштовхуються" одне з одним, як ті кораблі зі скелями. По-друге, <u>у "пастках", розкиданих по всьому розділу</u>. Найбільш розповсюджений їх вид - плутанина з іменами: рекламний агент <strong>Блум</strong> і дантист <strong>Блум</strong> (не мають абсолютно нічого спільного); поет <strong>Рассел</strong> і ювелір <strong>Рассел</strong> (не мають абсолютно нічого спільного); отець <strong>Каулі</strong> і олдермен <strong>Каулі</strong> (не мають абсолютно нічого спільного); студент медичного факультету <strong>Мулліган</strong> і менеджер Гібернійського банку <strong>Мулліган</strong> (не мають абсолютно нічого спільного); міст О'Коннела і міст Карлайл (один і той самий міст); мюзик-хол "Емпайр" і мюзик-хол Дена Лоурі (один і той самий мюзик-хол). Окремої уваги заслуговує такий фрагмент:
            </p>
            <div class="blockquote">
              <em class="bi bi-quote"></em>
              <blockquote>
                <p>
                  Міс Данн засунула якнайдалі в шухляду свого стола «Жінку в білому», яку вона взяла у бібліотеці на Кейпел-стрит, і вставила в друкарську машинку аркуш кольорового поштового паперу. <br>
                  Тут чимало чого лишається незрозумілим. Чи кохає він насправді <span style="color: #ed0000">цю Меріон</span>?
                </p>
              </blockquote>
            </div>
            <p>
              Міс <strong>Данн</strong> тільки-но прочитала роман "Жінка в білому", однак героїню, про яку вона думає у книзі звуть не "Меріон", а <span style="color: #ed0000">"Меріен"</span>. Джойс навмисно спантеличує нас, щоб нам здалося, ніби її думки стосуються <strong>Меріон Блум</strong> і <strong>Блейзеса Бойлана</strong> (а саме йому міс <strong>Данн</strong> зателефонує через кілька абзаців).
            </p>
            <div class="parody10" [tooltipStyleClass]="'parody-tip'"
            pTooltip="Це - пародійна вставка, стилізована під техніку кіномонтажу, використовану Джойсом у 10-ому епізоді. Маю надію, це вас трішки розважить :)"
            tooltipPosition="bottom">
              <em class="image"><img src="assets/icon/camera-episode10.svg"></em>
              <blockquote>
                <p>
                  А <strong>Блум</strong> знов стоїть осторонь, знов <em>"Леопольдо, або Блум на глум"</em>.
                </p>
              </blockquote>
            </div>
            <p>
              Але <u>наймасштабнішим обманом за епізод стає зім'ятий папірець <em>"Ілля іде"</em></u>, пам'ятаєте, його <strong>Блум</strong> викинув до річки Ліффі у "Лестригонах":
            </p>
            <div class="blockquote">
              <em class="bi bi-quote"></em>
              <blockquote>
                <p>
                  Він кинув їм зіжмакану паперову кульку. Ілля зі швидкістю тридцять два фути на секунду вже йде.
                </p>
              </blockquote>
            </div>
            <p>
              Вона з'являється в "Мандрівних скелях" декілька разів, спочатку під Круговим мостом, потім біля Північної стіни і набережної сера Джона Роджерсона, а наприкінці її можна спостерігати коло нової Воппінг-стрит. Ми впізнаємо її, ми слідкуємо за нею… Але це черговий Джойсів підступ і зараз я вам покажу, чому.
            </p>
            <p>
              <strong>Блум</strong> викидає свою брошуру на початку другої:
            </p>
            <div class="blockquote">
              <em class="bi bi-quote"></em>
              <blockquote>
                <p>
                  Вже початок другої. На будинку портових служб куля внизу. Час за Дансінком.
                </p>
              </blockquote>
            </div>
            <p>
              В 10-ому епізоді ж, за умови, що всі події відбуваються майже одночасно, годинник показує початок четвертої:
            </p>
            <div class="blockquote">
              <em class="bi bi-quote"></em>
              <blockquote>
                <p>
                  МакКой позирнув у темну контору Маркуса Терціуса Мозеса, потім на годинник О’Ніла. <br>
                  — Початок четвертої, — повідомив він.
                </p>
              </blockquote>
            </div>
            <p>
              З цього слідує, що за дві години папірець проплив від мосту О'Коннела (а саме звідти <strong>Блум</strong> його жбурнув у воду) до Кругового (де він вперше з'являється у 10-ому розділі) між якими… 300 метрів?! Навіть з урахуванням приливів та відливів 16 червня 1904 року, без втручання вищих сил така відстань є неможливо малою. А хіба Джойс, що писав "Мандрівні скелі" з картою Дубліна та лінійкою на столі, Джойс, що навіть у навмисних помилках дотримувався абсолютної точності, словом, хіба він міг допустити ся такої помилки просто так? Питання риторичне.
            </p>
          </div>
        </section>
        <hr class="dashed-line" />
        <section class="about-book">
          <h2>Проблематика</h2>
          <div class="article-section">
            <div class="blockquote">
              <em class="bi bi-quote"></em>
              <blockquote>
                <p>
                  — Я слуга двох панів, — заявив Стівен, — <span style="color: #2541cc">англійського</span> та <span style="color: rgb(202, 138, 0)">італійського</span>.
                </p>
              </blockquote>
            </div>
            <p>
              У "Мандрівних скелях" ми цих <em>"двох панів"</em> можемо спостерігати у вигляді <span style="color: #2541cc">кавалькади віце-короля</span> і <span style="color: rgb(202, 138, 0)">отця <strong>Конмі</strong></span>. Їм у епізоді відведено особливе місце - вони відповідно починають і завершують його. Але чому саме їх Джойс виділяє таким чином? А щоб їх найбільш помітно висміяти.
            </p>
            <p>
              У цьому розділі <u>що <span style="color: rgb(202, 138, 0)">католицька церква</span>, що <span style="color: #2541cc">імперська влада</span> оточені лицемірством</u>: отець <strong>Конмі</strong> з його фальшивою доброзичливістю, кавалькада віце-короля, якій всі <em>"догідливо салютують"</em>... Всі, крім <strong>Стівена Дедала</strong> та <strong>Леопольда Блума</strong>. Вони, як втілення Джойса в юності і Джойса в зрілості, стоять осторонь, не підкоряються англійському пануванню.
            </p>
            <p>
              Однак це єдине, чому вони не підкоряються в <u>Дубліні, в цьому <em>"місті-паралічі"</em></u>, яке нескінченно <span style="color: rgb(0, 162, 255)">відтворює себе у своїх мешканцях</span>. Не дарма саме в "Мандрівних скелях" стільки <span style="color: rgb(0, 162, 255)">повторюваних імен та прізвищ</span> - це певне підкреслення однаковості жителів ірландської столиці. 
            </p>
            <div class="parody10" [tooltipStyleClass]="'parody-tip'"
            pTooltip="Це - пародійна вставка, стилізована під техніку кіномонтажу, використовану Джойсом у 10-ому епізоді. Маю надію, це вас трішки розважить :)"
            tooltipPosition="bottom">
              <em class="image"><img src="assets/icon/camera-episode10.svg"></em>
              <blockquote>
                <p>
                  Отець <strong>Каулі</strong> і олдермен <strong>Каулі</strong> (може й мають щось спільне).
                </p>
              </blockquote>
            </div>
            <p>
              Але не іменами та прізвищами єдиними - ця однаковість проявляється і в <span style="color: rgb(0, 162, 255)">діях персонажів</span>. 
            </p>
            <p>
              Ось дивіться, візьмемо двох принципово різних персонажів (зокрема за релігійною ознакою): <strong>Леопольда Блума</strong> і превелебного <strong>Джона Конмі</strong>. І що ви думаєте, ми не знайдемо між ними перекличок? Дзуськи! Вони обидва дивляться на одну й ту саму баржу з торфом, обидва думають про сьогоднішню катастрофу в Нью-Йорку, обидва питають себе (на Північній окружній і Великій окружній вулицях відповідно): <em>"дивно, чому тут досі не проклали трамвайної лінії?.."</em>
            </p>
            <div class="parody10" [tooltipStyleClass]="'parody-tip'"
            pTooltip="Це - пародійна вставка, стилізована під техніку кіномонтажу, використовану Джойсом у 10-ому епізоді. Маю надію, це вас трішки розважить :)"
            tooltipPosition="bottom">
              <em class="image"><img src="assets/icon/camera-episode10.svg"></em>
              <blockquote>
                <p>
                  Це фрагмент з початкової сцени "Мандрівних скель" - нашої прогулянки містом разом з отцем <strong>Конмі</strong>.
                </p>
              </blockquote>
            </div>
            <img
            src="assets/images/SimonDilly-photo.png"
            alt="Саймон Діллі фото"
            class="photo-align"
            pTooltip="На фото: Саймон та Діллі Дедали"
            tooltipPosition="top"
            />
            <p>
              Недостатньо переконливо? Тоді розгляньмо інший приклад: <strong>Саймон</strong> та <strong>Стівен Дедали</strong>, що, не дивлячись на абсолютно різні мотиви, приходять в 10-ому розділі до одного й того ж результату - не дають грошей <strong>Діллі</strong> (півтори шилінги не рахується). Більш того, як ми дізнаємося пізніше, витратять вони свої гроші майже однаковим чином.
            </p>
            <p>
              Господи, та навіть та брошура <em>"Ілля вже йде"</em>, яку ми спостерігаємо протягом всього епізоду - це не може бути та ж сама брошура, котру викинув до річки <strong>Леопольд Блум</strong>. Це хтось інший так само прочитав і жбурнув її у воду, хтось, кого б ми, надихнувшись <span style="color: #e735a6">"Сціллою і Харибдою"</span>, назвали <span style="color: #e735a6">"метимпсихозом" <strong>Леопольда Блума</strong></span>. Проте <span style="color: rgb(0, 162, 255)">“Мандрівні скелі”</span> дають нам інший погляд на ситуацію: в контексті цього епізоду він, як і всі інші, стає радше <span style="color: rgb(0, 162, 255)">ще однією шестернею у величезному механізмі Дубліна</span>.
            </p>
            <p>
              Ось вам і ще одна <span style="color: #3e7ad4">невідмінима модальність видимого</span>, або, як би назвав її <strong>Леопольд Блум</strong>, <span style="color: #e735a6">паралакс</span> (Шок!!! <span style="color: #3e7ad4"><strong>Стівен</strong></span> та <span style="color: #e735a6"><strong>Блум</strong></span> знов думають про одне й те саме!!!). З цієї точки зору, цікаво починає грати гомерівський пласт роману. Подібно до Цирцеї, <u>Джойс показує нам два можливих шляхи</u> (інтерпретації подій книги): плисти до Сцілли з Харибдою (дотримуватися ідеї метимпсихозу) чи до мандрівних скель (дотримуватися ідеї Дубліна як <em>"міста-параліча"</em>).
            </p>
          </div>
        </section>
        <hr class="dashed-line" />
        <section class="about-book">
          <h2>Стиль</h2>
          <div class="article-section">
            <p>
              Це другий великий стилістичний експеримент після "Еола". <u>10-ий епізод "Улісса" виконано в техніці кінематографічного монтажу</u>, на манер тієї, що була у Гюстава Флобера в "Пані Боварі", проте, як це часто буває у Джойса, набагато масштабніше.
            </p>
            <p>
              Тобто, розділ побудовано у вигляді 19-ти міні-сцен, пов'язаних між собою хіба що тим, що відбуваються вони, як вже неодноразово наголошувалося, одночасно. Керуючись своїм принципом міметичного написання, <u>письменник передає це і на стилістичному рівні</u>, ось дивіться:
            </p>
            <div class="blockquote">
              <em class="bi bi-quote"></em>
              <blockquote>
                <p>
                  Отець Конмі пройшов повз похоронну контору Г. Дж. О’Ніла, де <span style="color: rgb(202, 138, 0)">Корні Келлегер</span>, бухгалтер, жуючи стеблинку трави, робив записи в своєму журналі.
                </p>
              </blockquote>
            </div>
            <p>
              Це фрагмент з початкової сцени "Мандрівних скель" - нашої прогулянки містом разом з отцем <strong>Конмі</strong>. А тепер вгадайте, як починається наступна:
            </p>
            <div class="blockquote">
              <em class="bi bi-quote"></em>
              <blockquote>
                <p>
                  <span style="color: rgb(202, 138, 0)">Корні Келлегер</span> згорнув свій товстелезний журнал і неуважливо поглянув на соснове віко труни, яке стояло на чатах у кутку.
                </p>
              </blockquote>
            </div>
            <p>
              Вже в третій сцені, одноногий матрос, якому вона майже повністю присвячена, проходить повз <span style="color: #3e7ad4"><strong>Кейті</strong></span> і <span style="color: #3e7ad4"><strong>Буді Дедалів</strong></span>:
            </p>
            <div class="blockquote">
              <em class="bi bi-quote"></em>
              <blockquote>
                <p>
                  По тому він рвучко гойднувся на милицях, ступив кілька кроків повз <span style="color: #3e7ad4">Кейті</span> і <span style="color: #3e7ad4">Буді Дедалів</span>, зупинився і загорлав…
                </p>
              </blockquote>
            </div>
            <p>
              А четверта, як не дивно, присвячена саме їм і починається так:
            </p>
            <div class="blockquote">
              <em class="bi bi-quote"></em>
              <blockquote>
                <p>
                  <span style="color: #3e7ad4">Кейті</span> і <span style="color: #3e7ad4">Буді Дедали</span> вскочили до кухні, заповненої клубами пари.
                </p>
              </blockquote>
            </div>
            <p>
              Володимир Набоков назвав би це "синхронізаціями" (а враховуючи його пристрасть до них, цей епізод є одним з його улюблених) - за їх допомогою будується весь текст "Мандрівних скель" (а також текст цього аналізу "Мандрівних скель"). І знову, <strong>Джойс доводить цю техніку “до стану кипіння”</strong> - їй тільки й залишається, що випаруватися та розвіятися вітром. Тому й кажуть, що “Улісс” відкрив для тогочасної літератури нові можливості… І одразу ж закрив їх - в межах запропонованих автором стилів вже неможливо досягти чогось нового, бо все можливе у романі вже втілено.
            </p>
            <div class="parody10" [tooltipStyleClass]="'parody-tip'"
            pTooltip="Це - пародійна вставка, стилізована під техніку кіномонтажу, використовану Джойсом у 10-ому епізоді. Маю надію, це вас трішки розважить :)"
            tooltipPosition="bottom">
              <em class="image"><img src="assets/icon/camera-episode10.svg"></em>
              <blockquote>
                <p>
                  Це відображається, по-перше, у сюжетних лініях героїв, які постійно перетинаються, "зіштовхуються" одне з одним, як ті кораблі зі скелями. 
                </p>
              </blockquote>
            </div>
            <p>
              Також у контексті “Мандрівних скель” вважаю за потрібне відмітити, як я його зву, <u>“принцип формальної драматургії”</u> - джойсівського прийому, за якого розвиток відбувається не стільки сюжетний, скільки стилістичний. У 10-ому розділі це видно на прикладі останньої міні-сцени, в межах якої перелічуються майже всі персонажі майже всіх попередніх міні-сцен - це таке собі “ущільнення” тексту, що і свідчить про певний розвиток.
            </p>
            <img
            src="assets/images/LemonSoap-photo.png"
            alt="Лимонне мило фото"
            class="photo-align-left"
            pTooltip="На фото: сувенірне лимонне мило в аптеці Sweny’s (тій, у якій Леопольд Блум в “Уліссі” купував лимонне мило собі)"
            tooltipPosition="top"
            />
            <p>
              Ну і наостанок хотів би додати, що хоч зовнішньо "Мандрівні скелі" - статичний, панорамний епізод, згодьтеся, він є одним з найбільш насичених подіями. Так, може подіями вкрай повсякденними, може навіть спровокованими порочною сутністю Дубліна, однак, з іншого боку, а чи взагалі існують в цьому творі події іншої природи? Якщо ви ще не помітили, то впродовж усієї книжки відбувається те, що я зву <u>"емансипацією сюжету"</u> - традиційно "неважливі" елементи розповіді прирівнюються до традиційно "важливих", і ми спостерігаємо за переміщенням лимонного мила з кишені в кишеню з такою ж цікавістю, як за самим <strong>Леопольдом Блумом</strong> і його переживаннями щодо зради дружини. 
            </p>
            <p>
              Воно й не дивно, замкненому у межах одного дня, "Уліссові" тільки це й залишається робити… Ось тільки чомусь він за цей невеличкий відрізок часу піднімає стільки нагальних питань, скільки умовний Пауло Коельо за всю кар’єру не підняв<sup
              [tooltipStyleClass]="'custom-tooltip'"
              pTooltip="Приводжу у приклад саме Пауло Коельо, бо він на одному з інтерв'ю висловлювався щодо “Улісса” в негативному ключі, вказуючи, що, мовляв, зараз багато авторів намагаються вразити інших авторів, а тому роблять акцент на формі, а не на змісті, і винуватий в цьому... Ну звичайно роман Джойса! Та й взагалі, в “Уліссі” окрім його стилю нічого немає, і ви вже, ймовірно, впевнились в цьому, прочитавши перші 10 епізодів та мої пояснення до них :)"
              tooltipPosition="bottom"
              ><u>[2]</u></sup
            >. У такому підході мені вбачається бажання показати багатогранність буденності на противагу канонічним, концентрованим і яскравим сюжетам, притаманним романам 19-го сторіччя. Джойс таким чином ніби розставляє пріоритети, демонструє, що дійсно важливо і що, на його думку, потребує більшої уваги, словом, знов здійснює <u>перехід від загального до індивідуального</u>.
            </p>
          </div>
        </section>
      </main>
      <app-footer></app-footer>
    </section>
  </div>