<footer class="footer">
  <div class="footer-header">
    <h4>Приєднуйтесь:</h4>
  </div>

  <div class="footer-content">
    <div class="footer-icons">
      <a href="https://t.me/UlyssesProject"
        ><img src="assets\icon\telegram.svg" alt="Telegram"
      /></a>
      <a href="https://www.youtube.com/channel/UCas8LaCrR-XN0ofBiZiNDhw"
        ><img src="assets\icon\youtube.svg" alt="Telegram"
      /></a>
    </div>
    <div class="footer-text">
      <span>
        Повне або часткове використання інформації тільки за наявності активного
        посилання на сайт ©
      </span>
    </div>
  </div>
</footer>
